<section class="masthead">

  <div class="language-nav">

    <ul>
      <li><a href="https://github.com/appacademy/curriculum/blob/master/html-css/README.md">CSS</a></li>
      <li><a href="https://github.com/appacademy/curriculum/blob/master/html-css/README.md">HTML</a></li>
      <li><a href="https://github.com/appacademy/curriculum/blob/master/javascript/README.md">Javascript</a></li>
      <li><a href="https://github.com/appacademy/curriculum/blob/master/ruby/README.md">Ruby</a></li>
    </ul>

  </div>

<img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

  <div class="masthead-links">

    <ul>
      <li>Friday, September 29, 2017</li>
      <li>
        <button href="https://www.nytimes.com">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper
        </button>
      </li>
      <li>
        <button href="https://vimeo.com/165965713">
        <i class="fa fa-video-camera" aria-hidden="true"></i>Video
        </button>
      </li>

      <li id="temp"><span>77°F</span>
      </li>

      <li id="stock"><span>AAO
        <strong>+100%</strong></span>
      </li>

    </ul>

  </div>

</section>
